html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer{
  margin-top: 20px;
  padding-top: 20px;
}
.footer>.container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-image: url('../images/product_down.jpg');
}

/* Make Table Bold  */
.table .boldIndexMenu{
  font-weight: bold;
}

/* Up font size Main Menu  */
 #MainMenu_index {
  font-size: 20px;
  color: #058;
} 

/* make left-navi to far left */
.container{
  margin-left: 0px;
}

#index_table h3 {
  padding-left: 50px;
}

.table-condensed .form-group {
  margin-bottom: 5px;
  font-size: 12px;
}

/* Log off in left Navi */
#logOff {
  color: #d9534f;
  font-weight: bold;
}

.header {
  height: auto;
  max-width: 100%;
  padding-bottom: 20px;
}


